<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "index.css";
    </style>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="page-header">
            <div>OhMyGPT Help Page</div>
        </div>
        <div class="cards-container" >
            <div class="card" th:each="card: ${cards}">
                <div class="question">
                    <strong th:text="${card.question}"></strong>
                </div>
                <div class="answer" th:utext="${card.answer}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
