*{
    margin: 0;
    padding: 0;
}
.background{
    width: 100vw;
    height: 100vh;
    /*元素剧中布局*/
    margin: 0 auto;
    background: #2C3A4F;

}
.page-header {
    margin-top: 20px;
    font-family: JetBrains Mono;
    color: #FFFFFF;
    width: 18ch;
    position: absolute;
    font-size: 2em;
    border-right: 3px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(18), blink 0.5s step-end infinite alternate, move 1s forwards;
    animation-delay: 0s, 0s, 2s;

}

.cards-container {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 定义列的大小 */
    grid-auto-rows: min-content; /* 每行的高度由其内容的高度决定 */
    grid-auto-columns: min-content; /* 每列的宽度由其内容的宽度决定 */
    gap: 10px; /* 定义网格间距 */
    align-items: start;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 3s; /* 等待打字动画结束后再开始 */
}

.card {
    flex: 0 0 200px; /* 默认三列布局，减去的20px是为了考虑间隙 */
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: #56647b;
}

.question, .answer {
    text-align: center;
    margin: 10px 0;
    color: #e0e0e0;
}

/* 小屏幕（移动设备）适配 */
@media (max-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 20px); /* 小屏幕上二列布局 */
        height: auto; /* 可以让高度根据内容自动调整 */
    }
}

/* 更小屏幕适配 */
@media (max-width: 480px) {
    .card {
        flex: 1 0 calc(100% - 20px); /* 最小屏幕上一列布局 */
    }
}

/* 移动Header */
@keyframes move {
    100% {
        border-right: none;
        top: 0;
        transform: translate(-50%, 0);
    }
}



.answer {
    max-height: 0; /* 默认情况下，.answer不可见 */
    overflow: hidden; /* 隐藏超出的内容 */
    text-align: left;
}
.answer a{
    color: #e0e0e0;
    transition: color 0.5s;
}

.answer, .card{
    transition: max-height 2s ease-in-out, height 2s ease-in-out;/* 高度变化时，使用0.5s的动画效果 */
}

.card:hover .answer {
    max-height: 1000px;
}

/* 渐入动画 */
@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* 打字动画 */
@keyframes typing {
    from {
        width: 0;
    }
}

/* 闪烁动画 */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
